version: '3'
services:
  api:
    container_name: node-ts-template
    image: node:16
    working_dir: /usr/app/src/node-ts-template
    restart: always
    command: bash -c "yarn global add forever; yarn install --prod; yarnn debug"
    volumes:
      - ./dist/:/usr/app/src/node-ts-template/dist/
      - ./package.json:/usr/app/src/node-ts-template/package.json
    ports:
      - '3000:3000'
      - '9229:9229'
